{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static './css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form action="{% url 'password' %}">
        <input class="btn" type="submit" value="Generate Password">
        </form>
        <h4 id="password">{{ password }}</h4>

        <div class="lock-img">
            <img src="{% static './lock.png' %}" alt="">
        </div>
    </div>

</div>

<!-- Limit password display -->
<script>
var showPass = document.getElementById("password");

setTimeout(function(){ 
   showPass.style.display = "none"; 
}, 7000); 
</script>
</body>
</html>